.home-container {
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  min-height: 100vh;
}

.home-header {
  display: flex;
  justify-content:baseline;
  align-items: center;
  margin-bottom: 40px;
  gap: 100px;
}

.home-title {
  font-size: 50px;
  font-weight: 600;
  color: #2d2d2d;
  font-family: 'Merriweather', serif;
}

.home-search-bar {
  display: flex;
  gap: 10px;
}

.home-category-select,
.home-search-input {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
}

.home-search-input {
  width: 380px;
  height: 25px;
}

.home-search-button {
  padding: 10px 20px;
  background-color: #264653;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.home-search-button:hover {
  background-color: #1f3a3d;
}

.home-search-results {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.home-search-result-item {
  padding: 10px;
  cursor: pointer;
}

.home-search-result-item:hover {
  background-color: #f0f0f0;
}


.home-section {
  margin-bottom: 48px;
}

.home-section-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #333;
}

.home-carousel {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.home-book-card {
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}


.home-category-list {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.home-category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  background-color: white;

}

.home-category-icon {
  font-size: 7rem;
  color: 			#837050;
  margin-bottom: -1rem;
}


.home-category-label {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #555;
}

.home-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.home-view-all-btn {
  background-color: palegoldenrod; /* o el color principal de tu página */
  color: black;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-view-all-btn:hover {
  background-color: palegoldenrod; /* tono más oscuro al pasar el mouse */
}

