.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text{
    color: #3191FF;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #3191FF;
    border-radius: 9px;
}

.login-inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 50px;
    color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 7px;
}

.login-input input{
    height: 50px;
    width: 400px;
    border: none;
    font-size: 19px;
    background: whitesmoke; /* Fondo blanco */
    margin-left: 10px;
    outline: none;
}

.login-input form input{
    color: black;
}

.to-signup{
    padding-left: 113px;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.to-signup .to-signup-button{
    border: transparent;
    border-radius: 30px;
    height: 30px;
    width: 75px;
    background-color: white;
    font-weight: bold;
    color: #3191FF;
    font-size: 90%;
    cursor: pointer;
}

.to-signup .to-signup-button:hover{
    text-decoration: underline;
}

.login-submit-container{
    gap: 50px;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}
.login-submit-container .submit-login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    color: white;
    background:#3191FF;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border:none;
    outline: none;
    margin-bottom: 10px;
}

/* .login-submit-container .google-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    color: black;
    background: transparent;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    margin-bottom: 10px;
} */

.login-submit-container .submit-login-button:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background-color: #086EE3;
}

/* .login-submit-container .google-button:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
} */

.logo{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 0;
}

.google-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    color: black;
    background: transparent;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    margin-bottom: 10px;
}
.google-login-container:hover {
    box-shadow: 0px 4px 12px;
    transform: scale(1.05);
}

.google-login-container > div {
    display: flex !important;
    justify-content: center;
    width: 380px;
}

.google-login-container iframe {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50px !important;
    pointer-events: auto !important;
}



.divider{
    width: 95%;
    height: 1px;
    margin-left: 250px;
    background-color: #ccc;
    border-radius: 9px;
}


  