.signup-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.signup-text{
    color: #3191FF;
    font-size: 48px;
    font-weight: 700;
}

.signup-underline{
    width: 61px;
    height: 6px;
    background-color: #3191FF;
    border-radius: 9px;
}

.signup-inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.signup-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 50px;
    background: whitesmoke;
    border-radius: 6px;
}

.signup-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: black;
    margin-left: 1px;
 }

.signup-input-icon {
    margin-left: 15px;
    margin-right: 1px;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
}

.input-title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 112px;
    margin-bottom: -20px;
}

.interests-buttons{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8px; 
    margin-top: 10px;
    margin-left: 65px;
}

.interests-buttons button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
  }
  
  .interests-buttons button.selected { 
    color: black;
    border-color: #749FD1 ;
    border-width: 3px;
  }

.signup-submit-container{
    display: flex;
    margin: 25px auto;
    justify-content: center;
    gap: 10px;
}

.signup-submit-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    color: white;
    background:#3191FF;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border:none;
    outline: none;
}