.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
    width: 600px;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 50px;
    background: #D3DDE9;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: black;
 }



.input-title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 112px;
    margin-bottom: -20px;
}

.interests-buttons{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8px; 
    margin-top: 10px;
    margin-left: 65px;
}

.interests-buttons button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
  }
  
  .interests-buttons button.selected { 
    color: black;
    border-color: #749FD1 ;
    border-width: 3px;
  }

.signup-submit-container{
    display: flex;
    margin: 25px auto;
    justify-content: center;
    gap: 25px;
}

.signup-submit-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background:#D3DDE9;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border:none;
    outline: none;
    margin-left: 10px;
}